<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hostpital.hospitaladmin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".Utils.OneSignalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Activities.ShowPDFActivity"></activity>

<!--        <meta-data-->
<!--            android:name="com.onesignal.NotificationOpened.DEFAULT"-->
<!--            android:value="DISABLE" />-->

<!--        <service-->
<!--            android:name=".MyNotificationExtenderService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.onesignal.NotificationExtender" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.SplashScreenActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Login1Activity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Login2Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Login3Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.EmergencyServicesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.AmbulanceActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.MapsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ShowActiveRequestsDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ShowHistoryRequestsDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.EmergencyDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ShowRequestsDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Main2Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.AcceptEmergencyDetailActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>